*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    background-position: center;
    background-size: cover;
    transition: background-image ease 0.5s;
    /* transition: left linear 0.1s top linear 0.1s; */
}

.main{
    background-color: #0f0d0d;
    cursor: none;
}

.popup{
    background-color: #fff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: 10;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #0f0d0d;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup h2{
  margin-top: -20px;
  color: #0f0d0d;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    color: #111;
    line-height: 25px;
}

strong{
    color: #0f0d0d;
}

a{
    text-decoration: none;
    color: #0f0d0d;
}

#nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#nav img{
    height: 25px;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}

#nav h4{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
}

#nav h4:nth-child(1){
    border-bottom: 1.65px solid #fff;
}

.page1{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    z-index: 9;
}

.page1 h1{
    font-size: 7vw;
    font-weight: 300;
    margin-top: 12vw;
    margin-left: 6vw;
}
.page1 h2{
    font-size: 7vw;
    font-weight: 300;
    margin-left: 26vw;
}

.page1 video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size: 7vw;
    font-weight: 500;
    color: #111;
}

.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page2-left{
    width: 38%;
}

.page2-left h2{
    font-size: 3.8vw;
    font-weight: 200;
    color: #111;
    line-height: 4vw;
}

.page2-right{
    width: 25%;
}

.page2-right p{
    font-size: 22px;
    color: #111;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
}

.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 100px;
    z-index: 9;
}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 400;
    color: #111;
    margin-left: 100px;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page3-part1 img{
    height: 600px;
    margin-top: 160px;
}

.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}

.page4 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-top: 2px solid #DADADA;
    padding: 0 20px;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #DADADA;
}


footer{
    height: 90vh;
    width: 100%;
    background-color: #EDBFFF
}